@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");

.response__drop-down__button {
    border: 2px solid rgb(105, 148, 241);
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(181, 201, 243);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.response__drop-down__button:hover {
    cursor: pointer;
}

.response__drop-down {
    margin-bottom: 22px;
}
