.signup-form__container {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-right: 50%;
    margin-top: 2%;
 }

 h1, label, .signup-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
 }

 h1 {
     margin-bottom: 15px;
     font-size: 20px;
 }

 .signup-form {
     border: 2px solid rgb(181, 201, 243);
     padding: 25px 40px;
     border-radius: 4px;
     display: flex;
     flex-direction: column;
     background-color: rgba(225, 225, 225, 0.8);
 }

 .inputs__container {
     display: flex;

 }

 .form-input__container {
     margin: 10px;
 }

 .form-input {
     border: 2px solid rgb(181, 201, 243);
     border-radius: 4px;
     padding: 5px;
 }

 .form-input__birthday-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .form-input__date {
    border: 2px solid rgb(181, 201, 243);
    border-radius: 4px;
    padding: 5px 27px 5px 5px;
    margin-top: 10px;
    width: 200px;
 }


 .signup-buttons__container {
     display: flex;
     justify-content: space-around;
     margin-top: 20px;
 }

 .signup-button {
    border: 2px solid rgb(181, 201, 243);
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(181, 201, 243);
}

.signup-button:hover {
     cursor: pointer;
 }
