body {
    width: 100%;
    background-size: cover;
    background-image: url('../../images/splash-image.jpg');
    background-attachment: fixed;
}

.home-page__container {
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
}

.home-page__info-container {
    border: 2px solid rgb(181, 201, 243);
    padding: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: rgba(225, 225, 225, 0.8);
    margin-left: 5%;
    text-align: center;
}

@media screen and (max-width: 1059px) {
    .home-page__info-container {
        margin-right: 5%;

     }
 }

.asterisk-home {
    color: rgba(225, 225, 225, 0.8);
}

.home-page__text-header {
    font-size: 30px;
    font-weight: 600;
    color: rgb(47, 94, 197);
}


.features-list__container {
    box-sizing: border-box;
    text-align: left;
    list-style-type: disc;
    padding-left: 30%;
}

.features-coming {
    font-weight: 600;
}

.happy-text {
    font-weight: 700;
}
