@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");

.question__sidebar-button {
    border: 2px solid rgb(105, 148, 241);
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(181, 201, 243);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.question__sidebar-button:hover {
    cursor: pointer;
}

.feed-title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-feed__container {
    box-sizing: border-box;
    padding: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.685);
    height: 40vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.question-info__container {
    margin-bottom: 18px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    right: 0px;
    transition: all 0.2s linear;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0 8px 1px rgb(211, 211, 211);
}

.sidebar_container {
    margin-left: 5%;
    margin-top: 5%;
}

.question__container {
    margin-top: 2%;
    border: 2px solid rgb(181, 201, 243);
    border-radius: 4px;
    padding: 20px;
    width: 76%;
    text-align: center;
}
